<!DOCTYPE html>
<html>

<head>
    <title>
        Mayank Pruthi
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <!-- <script src="https://use.fontawesome.com/bdcad75e7b.js"></script> -->
    <meta name="viewport" content="Width=device-width, initial-scale=1">
</head>

<body>

    <header id="body-header">
        <div id="myNav" class="overlay">

            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

            <!-- Overlay content -->
            <div id="overlay-content">
                <a href="#">Home</a>
                <br />
                <a href="#skills">Skills</a>
                <br />
                <a href="#experience">Experience</a>
                <br />
                <a href="#education">Education</a>
                <br />
                <a href="#projects">Projects</a>
                <br />
            </div>

        </div>

        <!-- Use any element to open/show the overlay navigation menu -->
        <strong><span id="mobile-nav-menu" onclick="openNav()">Menu</span></strong>
        <nav>
            <ul class="nav-menu horizontal-list text-center">
                <li>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#about">About</a>
                </li>

                <li>
                    <a href="#skills">Skills</a>
                </li>

                <li>
                    <a href="#experience">Experience</a>
                </li>

                <li>
                    <a href="#education">Education</a>
                </li>

                <li>
                    <a href="#projects">Projects</a>
                </li>
            </ul>
        </nav>
        <div class="text-center">
            <div class="name">
                <h1>Mayank Pruthi</h1>
                <ul class="horizontal-list">
                    <li>
                        <a href="https://github.com/mayankpruthii">
                            <img src="https://img.icons8.com/material-outlined/48/000000/github.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/mayankpruthi">
                            <img src="https://img.icons8.com/color/48/000000/linkedin-circled--v5.png" />
                        </a>
                    </li>
                    <li>
                        <a href="mailto:mayankpruthi123@gmail.com">
                            <img src="https://img.icons8.com/ios/50/000000/composing-mail.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section id="about">
            <div id="my-image">
                <img src="/profile_photo.jpeg">
            </div>
            <p style="text-align: center;">Hardworking person who likes to think and implement smart working ideas</p>
        </section>
        <section id="skills">
            <h2 class="text-center"><img
                    src="https://img.icons8.com/dotty/40/000000/communication-skill.png" />&nbsp;Skills</h2>

            <div class="skills-display">

                <div class="skill-progress">
                    <div class="skill-text w90" data-bar-width="90">
                        <span>C++</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-text w80" data-bar-width="90">
                        <span>Python</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-text w75" data-bar-width="90">
                        <span>Javascript</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-text w70" data-bar-width="90">
                        <span>ReactJS</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-text w70" data-bar-width="90">
                        <span>NodeJS</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-text w60" data-bar-width="90">
                        <span>ML</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-text w75" data-bar-width="90">
                        <span>Designing</span>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="skill-text w85" data-bar-width="90">
                        <span>Wordpress</span>
                    </div>
                </div>

            </div>
        </section>
        <section id="experience">

            <h2 class="text-center"><img
                    src="https://img.icons8.com/pastel-glyph/40/000000/bag-front-view--v2.png" />&nbsp;Experience</h2>

            <div class="timeline">
                <div class="timeline-box">
                    <h3>Vidhi Centre for Legal Policy</h3>
                    <p><b>Tech Consultant (Aug 2020 to Sept 2020)</b></p>
                    <p>
                        <ul>
                            <li>Maintained Wordpress website, uploading content and fixing UI issues</li>
                            <li>Enhancing analytics experience by automating the data collected from various social
                                media applications and making it time efficient</li>
                            <li>Made a chatbot to answer legal queries on telegram</li>
                        </ul>
                    </p>
                </div>

                <div class="timeline-box">
                    <h3>Defence Research and Development Organisation (DRDO)</h3>
                    <p><b>Trainee Intern (Jun 2019 to Jul 2019)</b></p>
                    <p>
                        <ul>
                            <li>
                                Hands on practice for various Machine Learning and Deep Learning models
                            </li>
                            <li>
                                Researched on Sleep Stage Detection using EEG and Deep Learning
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="timeline-divider">
                    <div class="timeline-traveller">
                        <img src="/aeroplane.png">
                    </div>
                </div>
            </div>

        </section>
        <section id="education">
            <h2 class="text-center"><img
                    src="https://img.icons8.com/pastel-glyph/50/000000/graduation-cap--v3.png" />&nbsp;Education</h2>

            <div id="education-container">
                <div class="education-card">
                    <h3>Bharati Vidyapeeth College of Engineering</h3>
                    <p><b>Bachelor of Technology, Electronics and Communication (ECE), 2021</b></p>
                    <p>Scored 78.1% in 6th Semester with aggregate percentage 76.9% and 8.22 GPA conducted by AICTE
                        Board in May 2020</p>
                </div>
                <div class="education-card">
                    <h3>Sachdeva Public School, Pitampura, New Delhi</h3>
                    <p><b>Class 12th, 2017</b></p>
                    <p>Scored 89% in Boards Examination conducted by CBSE</p>
                </div>
                <div class="education-card">
                    <h3>Sachdeva Public School, Pitampura, New Delhi</h3>
                    <p><b>Class 10th, 2015</b></p>
                    <p>Scored 10 CGPA in Boards Examination conducted by CBSE</p>
                </div>
            </div>
        </section>
        <section id="projects">
            <h2 class="text-center"><img
                    src="https://img.icons8.com/dotty/50/000000/project-management.png" />&nbsp;Projects</h2>
            <div id="projects-container">
                <div class="project-card">
                    <h3>Propagating Greens Web Application&nbsp;<a
                            href="https://propagatinggreens.herokuapp.com"><img
                            src="https://img.icons8.com/android/24/000000/link.png" /></a></h3>
                    <ul>
                        <li>Frontend built in ReactJS and backend in NodeJS</li>
                        <li>The application takes up the geolocations of the user and sends it to a server, where the
                            server sends a mesh created within the geolocation coordinates and coords are displayed on
                            the frontend.</li>
                        <li>The MongoDB database was used in NodeJS to store the geolocations sent by user and retrieve
                            it as and when required</li>
                    </ul>
                </div>
                </a>
                <div class="project-card">
                    <h3>Anndata</h3>&nbsp;<a href="https://anndataa.herokuapp.com"><img
                            src="https://img.icons8.com/android/24/000000/link.png" /></a>
                    <ul>
                        <li>A web based application for farmers to know about the soil nutrients using a sensor and
                            predict what crops could be grown using K-means Clustering</li>
                        <li>Made a frontend using ReactJS and integrated it with the backend that was created with Flask
                            and deployed on Heroku</li>
                    </ul>
                </div>
                <div class="project-card">
                    <h3>Nyaaya Chatbot</h3>&nbsp;<a href="https://github.com/mayankpruthii/NyaayaChatbot"><img
                            src="https://img.icons8.com/android/24/000000/link.png" /></a>
                    <ul>
                        <li>A chatbot for Indian Laws FAQs</li>
                        <li>Dataset made using content provided on website Nyaaya.org</li>
                        <li>Used Bert Embeddings for embedding questions and Cosine Similarity for fetching question
                            answer pair already present in dataset</li>
                    </ul>
                </div>
                <div class="project-card">
                    <h3>Social Media Data Automation&nbsp;<a
                            href="https://github.com/mayankpruthii/SocialMediaDataAutomation"><img
                                src="https://img.icons8.com/android/24/000000/link.png" /></a></h3>
                    <ul>
                        <li>An application to fetch data from various social media platforms and add them to Google
                            Sheets and analyse them using various charts in Excel</li>
                        <li>Used with Facebook and Twitter APIs and Web Scraping</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <script src="script.js"></script>
</body>

</html>